.menu {
    margin-left: 100px;
    margin-top: 20px;
    color:rgb(255, 0, 204);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline-block;
    font-weight: 300;
}

.menu:hover { 
    color:rgba(255, 0, 204, 0.354);
}

.title{
    margin-left: 350px;
    width: 800px;
    color: rgb(230, 54, 183);
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 100px;
    display: block;
}

.under_title{
    color: blueviolet;
    font-size: 15px; 
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;
}
.first{
    margin-left: 350px;
}

.image{
    width: 700px;
    display: block;
    margin: 0 auto;
}

.descript{
    width: 1000px;
    display: block;
    margin: 50px auto;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 204);
    font-size: 15px;
}

header{
    position: sticky;
    top:0;
    background-color: rgb(210, 30, 150);
}

.subscribe{
    padding: 10px;
    background-color: rgb(210, 30, 150);
}

.subscribe input{
    width: 200px;
    padding: 5px;
}

.subscribe button{
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    color: black;
    font-weight: bold;

}

.review{
    margin-top: 50px;
    border: 1px solid rgb(210, 30, 150);
    padding: 20px;
}

.rating{
    font-size: 24px;
    margin-bottom: 10px;
}

.star{
    color: orange;
}

input[type="text"], select, textarea{
    width:100%;
    padding: 12px;
    border:2px solid blueviolet;
    margin-top: 10px;
    margin-bottom: 20px;
}